<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Prochaines séances</h1>
  <p class="lead">Les prochains rendez-vous Street4Fit</p>

</div><div class="calendar-heading">
  <div class="calendar">
                <div id="events_calendar">
                  <%= render partial: "calendar", locals: {events: @events} %>
                </div>
  </div>



            <%= link_to "Créer une séance", new_event_path, class:"btn btn-flat " %>



