<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media-exp1.licdn.com/dms/image/C511BAQEuIUnxur1TNg/company-background_10000/0?e=1599310800&v=beta&t=2EnbHBWsbq7gHH6ymNYZd9uyrhAeXmlsIHCsPqMeuFc);">
  <div class="container">
    <h1>Rejoignez Street4Fit<strong> et renforcez </strong> avec nous <strong>votre leadership</strong>!</h1>
    <p>Venez rejoindre la communauté des sportifs déterminés</p>
    <a class="btn btn-flat" href="#">Je m'inscris</a>
  </div>
</div>

        <h2>Spots d'entrainement</h2>

<div class="cards">
        <% @places.each do |place| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= place.avatar %>)">
            <%= place.name %>
          </div>
        <% end %>
</div>

